@import "./reset.css";
@import "./variable.css";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:var(--background-purple);
    color : white;
}

* {
  box-sizing: border-box;
}

input {
  border : none;
  outline: none;
  appearance: none;
}

.display-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
}

.position-relative{
        position: relative;
        
}